<svg #hangman id="hangman"
   width="400"
   height="900"
   viewBox="0 0 105.83333 238.125"
   version="1.1"
   inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
   sodipodi:docname="hangman.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs16640" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="g3775"
       transform="translate(-95.514578,-93.761188)">
      <circle
         style="fill:none;stroke:#cbcbcb;stroke-width:0.735971;stroke-dasharray:none;stroke-opacity:1"
         id="head"
         cx="148.43124"
         cy="126.6517"
         r="22.079193" />
      <path
         style="fill:none;stroke:#cbcbcb;stroke-width:0.735971;stroke-dasharray:none;stroke-opacity:1"
         d="m 148.43125,148.7309 c 0,95.6765 0,95.6765 0,95.6765"
         id="torso" />
      <path
         style="fill:#000000;fill-opacity:1;stroke:#cbcbcb;stroke-width:0.79375;stroke-dasharray:none;stroke-opacity:1"
         d="m 148.43125,244.4074 -37.04167,76.86291"
         id="left-leg" />
      <path
         style="fill:#000000;fill-opacity:1;stroke:#cbcbcb;stroke-width:0.79375;stroke-dasharray:none;stroke-opacity:1"
         d="M 185.47291,321.27031 148.43125,244.54114"
         id="right-leg" />
      <path
         style="fill:#000000;stroke:#cbcbcb;stroke-width:1.058"
         d="m 111.38958,157.26119 h 37.04166"
         id="left-arm" />
      <path
         style="fill:#000000;stroke:#cbcbcb;stroke-width:1.058"
         d="M 185.47291,157.26119 H 148.43124"
         id="right-arm" />
    </g>
  </g>
</svg>
